{# templates/appointment/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Book Appointment{% endblock %}

{% block body %}
    <h2 class="mb-4">Book an Appointment</h2>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary mt-3">Book Appointment</button>
    {{ form_end(form) }}

    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success mt-4">
            {{ app.session.flashBag.get('success')[0] }}
        </div>
    {% endif %}
{% endblock %}
